html
    head
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css')
    body
        section(class='hero is-info')
            div(class='hero-head')
                div(class='container')
                    nav(class='navbar')
                        div(class='navbar-brand')
                            a(class="navbar-item")
                                img(src='/images/Wibbbs-logos_white_cropped.png' alt='Logo')
            div(class='hero-body')
                div(class='container')
                    h1(class='title') WIBBS Learning Environment
            div(class='hero-foot')
                nav(class='tabs')
                    div(class='container')
                        ul
                            li
                                a(href='/') Home
                            li
                                a(href='/weather') Weather
block content
