block variables
html
    head
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css')
        script(src='https://code.jquery.com/jquery-1.12.4.js' integrity='sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=', crossorigin='anonymous')
    body
        section(class='hero is-success')
            div(class='hero-head')
                div(class='container')
                    nav(class='navbar')
                        div(class='navbar-brand')
                            a(class='navbar-item' href='/')
                                img(src='/images/Wibbbs-logos_white_cropped.png' alt='Logo')
                        div(class='navbar-end')
                            div(class='navbar-item')
                                a(href='/auth/login') Login
                            div(class='navbar-item')
                                a(href='/auth/logout') Logout
                                
                                        
            div(class='hero-body')
                div(class='container')
                    h1 WIBBBS Learning Environment
            div(class='hero-foot')
                nav(class='tabs is-boxed is-fullwidth')
                    div(class='container')
                        ul
                            li(id='hometab')
                                a(href='/') Home
                            li(id='profiletab')
                                a(href='/profile') Profile
                            li(id='weathertab')
                                a(href='/weather') Weather
                            li(id='githubtab')
                                a(href='/github') Github API
                            li(id='twitchtab')
                                a(href='/twitch') Twitch API
    script(src='javascript/tabs.js')
block content
