extends hero.pug
block variables
block content
    div(class='section')
        div(class='container is-centered')
            p(class='is-size-2') Welcome #{user.username}, you are authenticated.
            p The email address we have on file is #{user.email}
            p Here is your picture
            img(src= `${user.photo}`)